<div>
  <%= link_to "Fórumtéma létrehozása", create_topic_path if current_user.admin? %>
  <% @topics.each do |t| %>
      <%= link_to posts_path(t.id) do %>
          <div class="row topic-row">

            <span class="topic-title">
              <%= t.title %>
            </span>

            <span class="topic-creation-date">
              at: <%= t.created_at %>
            </span>

            <span class="topic-owner">
              Created by: <%= t.users[0].name %>
            </span>

            <% if current_user.admin? %>
                <span>
                <%= link_to "Törlés", destroy_topic_path(t.id), class: 'topic-delete', method: :delete %>
                </span>
          <% end %>
          </div>
      <% end %>
  <% end %>
</div>