<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>

      <div>Regisztráció dátuma: <%= @user.created_at %></div>
      <div>Létrehozott topicok száma: <%= @user.topics.count %></div>
      <div>Posztok száma: <%= @user.posts.count %> </div>
      <!--<div>Utolsó bejelentkezés: <%= Time.now %></div>-->
    </section>

    <a href="#" onclick="show_user_editor('.user-editor')">Profil szerkesztése</a>

    <div class="user-editor">
      <%= render 'edit_user' %>
    </div>
  </aside>
</div>
