<div>

  <%= link_to "Hozzászólás írása", create_post_path(params[:id]) %>

  <% @posts.each do |p| %>
      <div class="post">
        <div class="post-profile">
          <span class="post-username"><%= link_to p.user.name, p.user %><br /></span>
          <span class="post-numberofposts"><%= "Hozzászólások száma: #{p.user.posts.count}" %><br /></span>
          <span class="post-joined"><%= "Csatlakozott: #{p.user.created_at.to_date}" %></span>
        </div>

        <div class="post-date">
          <%= p.created_at %>
        </div>

        <% if current_user.admin? || current_user.created_post?(p) %>
            <span class="post-delete"><%= link_to "törlés", destroy_post_path(p.id), method: :delete %></span>
        <% end %>

        <div class="post-content">
          <%= p.text %>
        </div>
      </div>
  <% end %>
</div>